body{
    background-color: orange;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:lightgray;
    height: 1px;
}

ul{
    padding: 0 20%;
}

canvas{
    position: fixed;
    z-index: -1;
}

section{
    padding: 10px 0;
}

a{
    cursor: pointer;
}

#background_canvas{
    position: relative;
    width: 100vw;
    height: 96vh;
    background-color: rgb(201, 248, 232);
    overflow: hidden;
}

#background_canvas h1{
    color: rgb(239, 252, 248);
}

#content_canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top:20vh;
}

/*section{
    border-style: dashed;
}*/

#window_canvas{
    height: 500px;
    width: 100%;
}

#window_title h1 em{
    font-size: medium;
}
#window_title{
    background-color: aliceblue;
    height: 20%;
    padding: 5px;
}
#window_content{
    width: 100%;
    height:80%;
    background-color: white;
    border-style: solid;
    border-color: aliceblue;
    padding:0 1px;
}

#window_nav_canvas{
    position: relative;
    height: 10%;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-image: linear-gradient(to right, rgb(252, 251, 197, 0.7) 30%, rgb(254, 202, 210, 0.7), rgb(216, 180, 251, 0.7), rgb(170, 192, 243, 0.7));
}

#nav{
    position: absolute;
    width: 15%;
    height: 50%;
    left:5px;
    top: 45%;
    transform: translateY(-50%); 
}
#nav img{
    display: block;
    float: left;
    margin: 1px;
    width:15px;
}

#window_content_canvas{
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    height: 90%;
    overflow-y:scroll;
    overflow-x: hidden;
    position: relative;
}

#window_content_header{
    background-color: rgb(248, 240, 223);
    width:100%;
    height: 45px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
    /* position: absolute; */
}

#window_content_header_nav{
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
    height: 50%;
}

#window_content_canvas button{
    height: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    font-weight: 450;
    color: rgb(42, 23, 162);
    text-decoration: none;
    font-weight: medium;
}

#window_content_canvas button:disabled{
    /* color: rgb(176, 137, 53);
    text-decoration: underline wavy; */
    cursor:default;
    margin-top: -3px;
}
#window_content_canvas strong {
    position: relative;
    z-index: -1;
}

#window_content_canvas strong::after {
    /* Highlight color */
    background-color: #c3f2f9;

    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 70%;
    left: -2px;
    bottom: 0;
    z-index: -2;
    transform: rotate(-5.5deg);
    top: 4px;
}

#window_content_canvas button:disabled strong::after{
    transform: rotate(-1.5deg);
    top: 10px;
    background-color: #9eedf9;
}

#window_content_headline{
    background-color: yellow;
    height: 85%;
    width: 100%;
    position: relative;
}
#window_content_headline h1{
    text-align: center;
    top: 40%;
    position: absolute;
    width: 100%;
    display: block;
}

.icon-container{
    width: 96px;
    height: 96px;
    position: relative;
    margin: 10px auto;
}

.icon-container img{
    width: 100%;
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translate(0, -50%);
}

.text-align-center {
    text-align: center;
}

.window-content-title{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(42, 23, 162);
    background-color: rgb(248, 240, 223);
}

#window_content_body_me img{
    width: 80%;
    margin: 0 auto;
    display: block;
}

#footer_canvas{
    position: fixed;
    bottom: 0;
    height: 4vh;
    width: 100%;
    text-align: center;
    border-bottom-color: orange;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#footer_canvas p{
    transform: translate(0, -50%);
    margin: 5px 20px;
    text-align: right;
    right: 20px;
    color: rgb(1, 86, 1);
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}